
#basket-container {
  min-height: 80vh;
  position: relative;

  .basket-heading {
    padding-bottom: 2rem;

    #heading-total {
      text-align: right;
    }
  }

  #items-container {
    padding-bottom: 3rem;
  }

  .button-area {
    width: 100%;
    text-align: center;
    padding-bottom: 2rem;

    #checkout-button-mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      z-index: 200;
      padding: 0;

      text-align: center;

      button {
        width: 100vw;
        height: 5rem;

        font-size: 1.5rem;
      }
    }
  }
}

#checkout-choice {
  min-height: 20rem;

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  justify-content: center;

  #login-button {
    padding-bottom: 2rem;
  }
}