#product-section {
  #product-container {
    .carousel-item {
      img {
        max-width: 100%;
      }
    }

    .item-img-carousel {
      padding-bottom: 1rem;
    }

    #product-main-info {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;

      padding-left: 2rem;

      #add-button {
        width: 100%;
        margin-top: 1rem;
      }
    }

    #product-description {
      padding-top: 2rem;
    }
  }
}
