#product-section {
  #product-container {
    padding: 0 0;

    .carousel-item {
      img {
        max-width: 100%;
      }

      .item-img-carousel {
        padding: 0 2rem;
      }
    }

    #product-main-info {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;

      padding-left: 2rem;

      #add-button {
        width: 100%;
      }
    }

    #product-description {
      padding-top: 2rem;
    }
  }
}
