.card-container {
  margin: 2rem 0;

  .card {
    .card-img, .card-title, .cart-plus {
      &:hover {
        cursor: pointer;
      }
    }

    .card-img {
      height: 8rem;
      //responsive product image
      @media (min-width: 490px) {
        height: 10rem;
      }
      @media (min-width: 576px) {
        height: 12rem;
      }
      @media (min-width: 768px) {
        height: 10rem;
      }
      @media (min-width: 1024px) {
        height: 14rem;
      }
      @media (min-width: 1200px) {
        height: 15rem;
      }
      @media (min-width: 1400px) {
        height: 13rem;
      }
    }

    .card-body {
      padding: 0.5rem;

      .card-title {
        margin-bottom: 0;
      }
    }

    .card-text {
      display: flex;
      justify-content: space-between;
    }
  }

}