@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
//colors

$bg-color: #FAF6F5; // Background color */

$primary-color: #d8bd3c; // Primary color */
$primary-dark-color: #AD941F;
$primary-dark2-color: #856F06;
$primary-light-color: #ECD360;
$primary-light2-color: #FFEB8F;

$secondary-color: #324E8A; // Secondary color */
$secondary-dark-color: #1E3A74;
$secondary-dark2-color: #0D2559;
$secondary-light-color: #7189BB;
$secondary-light2-color: #4A659E;

$compliment-color: #682D8A; // Compliment color */
$compliment-dark-color: #521A74;
$compliment-dark2-color: #3B0959;
$compliment-light-color: #9E6DBB;
$compliment-light2-color: #9E6DBB;

//text

@mixin text() {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.text-default {
  @include text();
}

@mixin text-emphasis() {
  @include text();
  font-weight: 700;
}

.text-highlight {
  @include text-emphasis();
}

.text-header {
  @include text();
  font-family: 'Lobster Two', sans-serif;
  font-size: 1.5rem;
  color: $compliment-color !important;

  &:hover {
    color: $compliment-dark-color !important;
    cursor: pointer;
  }

  &:active {
    color: $compliment-dark2-color !important;
  }

  @media (max-width: 415px) {

  }
}

.text-header-important {
  @include text-emphasis();
  font-family: 'Lobster Two', sans-serif;
  font-size: 1.5rem;
  color: $compliment-color !important;
  @media (min-width: 415px) {
    font-size: 2rem;
  }
}

//buttons

@mixin button() {
  &:hover {
    cursor: pointer;
  }
}

.action-button {
  @include button();
  @include text-emphasis();
  background-color: $secondary-color;
  color: #FAF6F5;

  &:hover {
    background-color: $secondary-dark-color;
  }

  &:active {
    background-color: $secondary-dark2-color;
  }
}

.neutral-button {
  @include button();
  @include text-emphasis();
  background-color: $primary-color;
  color: #000000;

  &:hover {
    background-color: $primary-dark-color;
  }

  &:active {
    background-color: $primary-dark2-color;
  }
}

.auth-button {
  @include button();
  @include text();
  background-color: $secondary-color;
  width: 100%;
  margin: 0.5rem 0;

  span {
    margin-left: 0.5rem;
  }

  &:hover {
    background-color: $secondary-dark-color;
  }

  &:active {
    background-color: $secondary-dark2-color;
  }
}

.invisible-button {

  background-color: transparent;
  border: none;
  display: inline-block;
  padding-bottom: 1rem;
  color: $secondary-color !important;

  &:hover {
    color: $secondary-dark-color !important;
    text-decoration: underline;
  }

  &:active {
    color: $secondary-dark2-color !important;
  }
}

//.filter-tag-button {
//  @include button();
//  margin: 0 0.5rem;
//  background-color: $base-color;
//
//  &:hover {
//    background-color: $base-color-dark;
//  }
//}

.material-frame {
  background: white;
  border: 0.2px solid lightgrey;
  box-sizing: border-box;
  box-shadow: 0 4px 4px lightgrey;
}

//ensures that all components leave space on top for the navigation bar
.start-point {
  margin-top: 4rem;
  //todo remove the color after applying the correct classes for the text
  color: black;
}