@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Source+Sans+Pro:wght@400;600;700&display=swap');
//colors

$bg-color: #FAF6F5; // Background color */

$primary-color: #e0c53f; // Primary color */
$primary-dark-color: #d5b625;
$primary-dark2-color: #917a06;
$primary-light-color: #ECD360;
$primary-light2-color: #FFEB8F;

$compliment-color: #682D8A; // Compliment color */
$compliment-dark-color: #521A74;
$compliment-dark2-color: #3B0959;
$compliment-light-color: #9E6DBB;
$compliment-light2-color: #9E6DBB;

//text

@mixin text() {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
}

.text-default {
  @include text();
  color: #ffffff;
}

@mixin text-emphasis() {
  @include text();
  font-weight: 700;
}

.text-highlight {
  @include text-emphasis();
}

@mixin text-header() {
  @include text();
  font-family: 'Lobster Two', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.text-header-standard {
  @include text-header();
}

.text-header-highlight {
  @include text-header();
  padding-bottom: 0;

  color: $compliment-color;

  &:hover {
    color: $compliment-dark-color!important;
    cursor: pointer;
  }

  &:active {
    color: $compliment-dark2-color !important;
  }
}

.text-header-important {
  @include text-emphasis();
  @include text-header();

  font-size: 1.8rem;
  color: $compliment-color !important;

}

//buttons

@mixin button() {
  background-color: $primary-color;
  color: #000000 !important;
  &:hover {
    cursor: pointer;
    background-color: $primary-dark-color;
  }

  &:active {
    background-color: $primary-dark2-color !important;
  }
}

.action-button {
  @include button();
  @include text-emphasis();

  &:hover {
    transform: scale(1.1);
  }
}

.auth-button {
  @include button();
  @include text();
  width: 100%;
  margin: 0.5rem 0;

  span {
    margin-left: 0.5rem;
  }

  color: #ffffff!important;
  background-color: $compliment-color;

  &:hover {
    background-color: $compliment-dark-color;
  }

  &:active {
    background-color: $compliment-dark2-color !important;
  }
}

.invisible-button {
  background-color: transparent;
  border: none;
  display: inline-block;
  padding-bottom: 1rem;
  color: $compliment-color!important;

  &:hover {
    color: $compliment-dark-color;
    text-decoration: underline;
  }

  &:active {
    color: $compliment-dark2-color !important;
  }
}

.material-frame {
  background: white;
  border: 0.2px solid lightgrey;
  box-sizing: border-box;
  box-shadow: 0 4px 4px lightgrey;
}

//ensures that all components leave space on top for the navigation bar
.start-point {
  margin-top: 16vh;
}