@import "../../global_scss/global_styles";

#contact-page-section {
  min-height: 70vh;
  #contact-page-container {
    background-color: $container-bg;
    padding: 3rem 1rem;

    #message {
      padding-bottom: 4rem;
      resize: none;
    }
  }
}