@import "../../../global_scss/global_styles";

.link-button {
  background-color: transparent;
  border: none;
  display: inline-block;
  padding-bottom: 1rem;
  color: $secondary-color !important;

  &:hover {
    color: $secondary-dark-color !important;
    text-decoration: underline;
  }

  &:active {
    color: $secondary-dark2-color !important;
  }
}