@import "../../global_scss/global_styles";

.navbar {
  background-color: #000000 !important;
  border-bottom: 1px solid #515151;

  #navbar-text {
    color: $primary-color !important;

    &:hover {
      color: $primary-dark-color !important;
      cursor: pointer;
    }

    &:active {
      color: $primary-dark2-color !important;
    }
  }
}
