@import "../../global_scss/global_styles";

#navbar {
  min-height: 8vh;
  background-color: $primary-color;

  #user-menu {
    &:hover {
      color: black;
    }
  }

  #navbar-text {
    &:hover {
      color: $compliment-dark-color !important;
      cursor: pointer;
    }

    &:active {
      color: $compliment-dark2-color !important;
    }
  }
}
