@import "../../global_scss/global_styles";

.navbar {
  background-color: #202020 !important;


  #user-menu {
    &:hover {
      color: #000000;
    }
  }


  #navbar-text {
    font-size: 2rem;
    color: $primary-color !important;

    &:hover {
      color: $primary-dark-color !important;
      cursor: pointer;
    }

    &:active {
      color: $primary-dark2-color !important;
    }
  }
}
