@import "../../global_scss/global_styles";

#start-container {
  color: black;
  padding-top: 8vh;

  #hero-section {
    background-color: #000000;

    #hero-container {

      .hero-area {
        position: relative;

        display: flex;
        justify-content: center;

        #img-container, #img-container-mobile {
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          width: 100%;
        }

        #img-container {
          background-image: url("https://vintage-earrings.s3.eu-north-1.amazonaws.com/static/media/bg.png");

          height: 40rem;

          //todo proper scaling of the img
          @media (min-width: 600px) {
            height: 40rem;
          }
        }

        #img-container-mobile {
          background-image: url("https://vintage-earrings.s3.eu-north-1.amazonaws.com/static/media/bg-small.png");
          // 8 vh for the navigation component
          height: 94vh;
        }

        .img-header {
          position: absolute;
          z-index: 100;
          top: 8rem;
          left: 48%;

          .hero-header {
            position: relative;
            color: $primary-color !important;

            &:hover {
              color: $primary-color !important;
              cursor: text;
            }
          }

          .hero-header::after {
            position: absolute;
            bottom: -30px;

            display: block;

            content: 'Find your perfect pair...';
            transform: scaleY(-1);

            opacity: 0.4;
          }
        }

        .shop-button {
          position: absolute;
          z-index: 100;
          bottom: 4rem;
        }
      }
    }
  }

  #logo-text-section {
    padding: 4rem 0;

    #logo-text-container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
      #text-adv {
        text-align: center;
      }
    }
  }

  #products-preview-section {
    padding-bottom: 4rem;
  }

  #about-us-section {
    background-color: #202020;
    padding: 4rem;

    #about-us-container {
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;

      #logo-name {
        color: $primary-color !important;
      }

      #about-us-text {
        padding: 2rem 0;
      }
    }
  }
}