@import "./global_scss/global_styles";

html {
  scroll-behavior: smooth;
  background-color: $bg-color;
  @media (min-width: 0px) {
    font-size: 12px;
  }
  @media (min-width: 321px) {
    font-size: 15px;
  }
  @media (min-width: 767px) {
    font-size: 18px;
  }
  @media (min-width: 1023px) {
    font-size: 21px;
  }
}

body {
  margin: 0;
  background-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
