#cancellation-page-container {
  min-height: 70vh;
  text-align: center;
  #option-buttons {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    button {
      margin-top: 1rem;
    }
  }
}